@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700');

.second_header{
    width: 100%;
    height: 53px;
    display: inline-flex;
}

.menu{
    width: 84%;
    padding: 0px!important;
    display:inline-flex!important;
    justify-content: space-around;
    align-items: center!important;
}

.first_div_link{
    border-left: 0px solid!important;
}

.div_link{
    width: 14%!important;
    height: 100%;
    border-collapse: collapse;
    display: inline-flex;
    align-items: center!important;
    justify-content: center!important;
}

.link{
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 16px;
    height: 100%!important;
    width: 100%!important;
    color: #8A572D!important;
    display: inline-flex;
    align-items: center!important;
    justify-content: center!important;
}

.botao{
    width: 16%;
    background: #F0CDB1!important;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.button_link{
    height: 100%!important;
    width: 100%!important;
    color: #8A572D!important;
}

.arrow{
    margin-left: 20px;
}

.Line{
    height: 65%!important;
    align-self: center!important;
    color:#F0CDB1!important; 
    width:1.5px!important;
}