div#tabs{
    background: none;
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
}

.category_tab{
    width: 40%!important;
    margin: 0 auto;
    box-shadow: none!important;
    background: none!important;
}

.PrivateTabIndicator-colorPrimary-305{
    background-color: #8A572D!important;
}

.MuiTab-textColorPrimary{
    color: #8A572D!important;
}

.MuiTab-backgroundColorPrimary{
    background: none!important;
    width: 50px!important;
}

button:focus{
    background-color: transparent!important;
}
