#homepage {
  display: flex;
  align-content: center;
  align-items: center;
  min-height: calc(100vh - (259px + 231.219px));
}

#produtos-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 30px 250px;
  width: 100%;
}

.produto {
  width: 205px;
  display: block;
  margin: 10px;
  margin: 10px;
}

.produto .preco {
  font-weight: 400;
  font-size: medium;
}

.produto .nome {
  font-weight: 400;
  font-size: large;
}

.produto:hover {
  background-color: rgba(0, 0, 0, 0.144);
  opacity: 65%;
}

.produto img {
  object-fit: contain;
  height: 205px;
  width: 205px;
  display: block;
  margin: 0 auto;
}

.produto-dados {
  padding: 10px;
  font-weight: bold;
}