#homepage {
  display: flex;
  align-content: center;
  align-items: center;
}

#produtos-list {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;

}
.produto {
  width: 300px;
  margin: 10px;
}
.produto img {
  object-fit: fill;
  width: 300px;
  height: 300px;
}
