* {
  margin: 0;
  padding: 0;
  /* font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; */
  text-decoration: none;
  /* font-weight: 400; */
}

#homepage {
  min-height: calc(100vh - (262px + 225.344px));
  display: flex;
  align-items: center;
  justify-content: center;
}

ul {
  list-style: none;
}
